<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Adam's Movies</title>
		<link rel="stylesheet" type="text/css" href="movies.css" />
    </head>
    <body>
        <div id="header">
        <h1>List of my Favourite movies in _siteLayout</h1>
        </div>

		@RenderBody()

		<div id="footer">
		Built by ATN using WebMatrix.
		<a href="http://web.ms/webmatrix">Download it now</a>
		</div>

    </body>
</html>
